@model TCABS.Data.Models.Entities.Unit

<h4>Edit Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUnit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Unit_Id" />
            <div class="form-group">
                <label asp-for="Unit_Code" class="control-label"></label>
                <input asp-for="Unit_Code" class="form-control" />
                <span asp-validation-for="Unit_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit_Name" class="control-label"></label>
                <input asp-for="Unit_Name" class="form-control" />
                <span asp-validation-for="Unit_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" asp-action="ViewUnits">Cancel</a>
                <input type="submit" value="Confirm Changes" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

