@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using TCABS.Data.Models.Admin
@model IEnumerable<FormQuestionViewModel>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question_Text)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question_Text)
                </td>
                
            </tr>
        }
    </tbody>
</table>
