@model TCABS.Data.Models.Project.ProjectRole

@{
    ViewData["Title"] = "Create new Project Role";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProjectRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectRoleGroupID" />
            <input type="hidden" asp-for="ProjectRoleID" />
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="ProjectRoleName"></label>
                    <input asp-for="ProjectRoleName" class="form-control" />
                    <span asp-validation-for="ProjectRoleName" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="ProjectRoleRate"></label>
                    <input asp-for="ProjectRoleRate" class="form-control" />
                    <span asp-validation-for="ProjectRoleRate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create new Project Role" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="ViewProjectRoles" asp-route-id="@Model.ProjectRoleGroupID">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
