@using TCABS.Data.Models.Entities
@model TCABS.Data.Models.Entities.ProjectRoleGroup

<h4>ProjectRoleGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProjectRoleGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectRoleGroup_TYPE"></label>
                <input asp-for="ProjectRoleGroup_TYPE" class="form-control" />
                <span asp-validation-for="ProjectRoleGroup_TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" asp-action="ViewProjects">Cancel</a>
                <input type="submit" value="Create Project Role Group" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
